*.suo
*.user
_ReSharper.*
bin
obj
packages
bin/*
obj/*
/Fenogeno/.vs
/Fenogeno/.vs/*
/Fenogeno/Fenogeno.WebUI/ApplicationInsights.config
/Fenogeno/Fenogeno.Models/Fenogeno.Models.csproj.user
/Fenogeno/Fenogeno.DataAccess/Fenogeno.DataAccess.csproj.user
/Fenogeno/Fenogeno.WebUI/Fenogeno.WebUI.csproj.user
/Fenogeno/Fenogeno.WebUI/bin
/Fenogeno/Fenogeno.WebUI/bin/*
/Fenogeno/Fenogeno.WebUI/bin/Debug
/Fenogeno/Fenogeno.WebUI/bin/Debug/*.dll
/Fenogeno/Fenogeno.WebUI/bin/Release
/Fenogeno/Fenogeno.WebUI/obj
/Fenogeno/Fenogeno.WebUI/obj/*
/Fenogeno/Fenogeno.Models/bin
/Fenogeno/Fenogeno.Models/bin/*
/Fenogeno/Fenogeno.Models/obj
/Fenogeno/Fenogeno.Models/obj/*
/Fenogeno/Fenogeno.DataAccess/bin
/Fenogeno/Fenogeno.DataAccess/bin/Debug/*.dll
/Fenogeno/Fenogeno.DataAccess/bin/Debug/*.pdb
/Fenogeno/Fenogeno.DataAccess/bin/Release/*
/Fenogeno/Fenogeno.DataAccess/bin/Release/*.dll
/Fenogeno/Fenogeno.DataAccess/bin/Release/*.pdb
/Fenogeno/Fenogeno.DataAccess/obj
/Fenogeno/Fenogeno.DataAccess/obj/*
/Fenogeno/Fenogeno.WebUI/*.user
/Fenogeno/Fenogeno.Models/*.user
/Fenogeno/Fenogeno.DataAccess/*.user
*.dll
*.pdb
*.cache

#Junk Files
*.DS_Store
[Tt]humbs.db

#Visual Studio Files
[Oo]bj
[Bb]in
[Dd]ebug
[Bb]uild/
*.user
*.suo
*.exe
*.pdb
*.aps
*_i.c
*_p.c
*.ncb
*.tlb
*.tlh
*.[Cc]ache
*.bak
*.ncb
*.ilk
*.log
*.lib
*.sbr
*.sdf
ipch/ 
*.dbmdl
*.csproj.user
*.cache
*.swp
*.vspscc
*.vssscc
*.bak.*
*.bak

#Tools
_ReSharper.*
_ReSharper*/
*.resharper
*.resharper.user
[Nn][Dd]epend[Oo]ut*/
Ankh.NoLoad

#Other
.svn

# Include DLLs if they're in the NuGet packages directory
!/packages/*/lib/*.dll
!/packages/*/lib/*/*.dll
.vs
Fenogeno.DataAccess.csproj.user
*.user
.vs
Fenogeno.Models.csproj.user
Fenogeno/Fenogeno.Models/bin/Debug/Fenogeno.Models.dll
Fenogeno/Fenogeno.Models/bin/Debug/Fenogeno.Models.dll
*.dll
*.pdb
*.cache
